@use '/src/sass/variables.scss' as *;

.filterItem-button {
  color: $color-secondary;
  background-color: rgba($color: #ffffff, $alpha: 0);
}

.filterList-filterItem__selected > button {
  color: $color-primary;
}
